<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel="icon" type="img/ico" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
    function makeUL(array) {
    // Create the list element:
    var list = document.createElement('ul');

    for(var i = 0; i < array.length; i++) {
        // Create the list item:
        var item = document.createElement('li');

        item.appendChild(document.createTextNode(array[i]));

        // Add it to the list:
        list.appendChild(item);
    }

    // Finally, return the constructed list:
    return list;
}
        $(document).ready(function() {

            var socket = io.connect();


            socket.on('users_list', function(msg) {

              //$('#users').append('<br>Received: ' + JSON.stringify(msg.data));
             console.log(msg.data);
             $('#users').html(makeUL(msg.data));
          });

          socket.on('send_request', function(msg) {
           console.log(msg.data);
         	window.location.href = '\/room\/' + msg.data;

        });

        socket.on('redirect', function(msg) {
         console.log(msg.data);
         window.location.replace('\/room\/' + msg.data);

      });

          $("li").live('click', function(e) {
              console.log('da');
              socket.emit('send_request', {data: $(e.target).text()});
              console.log('nu');
              e.preventDefault();

          });
});






    </script>
</head>
<body>


  <div id="header">
    <div id="welcomeText">
      <h1>Hi
         {% if 'username' in session %}
            {{session['username']}}
         {% endif %}!
       </h1>
      <h1>talk to someone</h1>
    </div>
    <div id="logoutText">
      <a href="/logout">logout</a>
    </div>
</div>
  <div id="users">

  </div>

</body>
</html>
