html {
    height: 100%;
}

body {
	font-family: 'Roboto Mono', monospace;
	color: #1b3050;
	background: #f9f0d0;
  height: 100%;
}

#header {
  width: 100%;
  height: 20%;
  font-size: 40px;


}
#welcomeText {
    padding-top: 30px;
    padding-left: 50px;
    display: inline-block;
}
#logoutText {
  padding-top: 30px;
  padding-right: 50px;
  display: inline-block;
    float:right;
}

#users {
  height: 80%;
  width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  font-size: 35px;
  color: blue;
}
#users ul {
  padding-top: 30px;
  padding-left: 50px;
}
#users li {
  display: table;
}
#users li:hover {
  background-color: yellow;
  cursor: pointer;

}
#logoutText a {
  color: inherit;
  text-decoration: none;
}
#logoutText a:hover {
  background-color: pink;
}

#headerbox {
  height: 10%;
  width: 100%;
}

#chatbox {
  height: 70%;
  width: 100%;
  font-size: 30px;
  overflow-y: auto;


}
#textbox {
  height: 20%;
  width: 100%;


}
#send_room {
  height:100%;
  width:100%;

}
#send_room input[type="text"] {

  height:80%;
  width:70%;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: monospace;
  background: inherit;
  padding-left: 20px;

}
#send_room input:focus {
  outline: none;
}

#send_room input[type="submit"] {
  float:right;
  height:80%;
  width:20%;
  border: 0;
  margin: 0;
  padding: 0;
  background: #DAF7A6;
  font-size: 40px;
  font-family: monospace;


}
#send_room input[type="submit"]:hover{
  cursor:pointer;
}

#send_room input[type="file"] {
  height:20%;
  width: 200px;
  border: 0;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  display: table;
}

#disconnect {
  height:100%;
}
#disconnect input {
  float:right;
  height:100%;
  width:20%;
  border: 0;
  margin: 0;
  padding: 0;
  background: pink;
  font-size: 30px;
  font-family: monospace;
}
#disconnect input {
  cursor:pointer;
}


.username {
  font-weight: bold;

  padding-left: 20px;
  padding-top: 15px;
}
